/* HEAD / NAV */

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.navbar-flex {
  display: flex;
  justify-content: space-around;
}

.img-logo {
  float: left;
  width: 40px;
  margin: 6px 10px 0px 8px;
}

.txt-logo {
  float: left;
  margin: 18px 0 0 0;
  font-size: 1.5em;
  font-weight: bold;
}

/* MAIN CONTENT */


#result-wrapper {
  width: 100%;
}

.result-single {
  margin-bottom: 16px;
}

.ui.table td.active,
.ui.table tr.active {
  background: #fa26d9 !important;
}


/* .melody-main-wrapper */
.melody-main-wrapper {
  margin: 25px 15px;
}

/* .melody-main-form */
.melody-main-form .field > label {
  padding-left: 0;
}

.ui.form .fields {
  margin-bottom: 4px;
}

/* Melody Submit Button */
/*
.melody-main-form > .field:last-child {
    text-align: center;
}
*/


#main-submit {
  margin: 8px 0 1em 25%;
  display: inline-block;
  width: 150px;
}


.result-single > .ui.table {
  width: 100%;
  margin-bottom: 4px;
}

.result.table-cell {
  max-width: 30px;
}

.tempo-label {
  display: block;
  margin-top: 6px;
}

/* .ui.definition.table tobody tr > td.result-table-title {
  width: 92px;
  max-width: 92px!important;
} */

/* .ui.dropdown .menu {
    max-height: ?;
*/
/* You might also want to add `!important` to automatically override all media-queries. */
/*
} 
*/




@media screen and (max-width: 420px) {
  .img-logo {
    float: left;
    width: 20px;
    margin: 12px 10px 0px 8px;
  }
  
  .txt-logo {
    float: left;
    margin: 11px 0 0 0;
    font-size: 1.2em;
    font-weight: bold;
  }
}
  