/* HEAD / NAV */

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.navbar-flex {
  display: flex; justify-content: space-around;
}
.img-logo {
  float: left; width: 40px; margin: 6px 10px 0px 0px;
}

.txt-logo {
  float: right; margin-top: 18px; font-size: 1.5em; font-weight: bold;
}

/* MAIN CONTENT */


#result-wrapper {
  width: 100%;
}

.result-single {
  margin-bottom: 16px;
}

.ui.table td.active,
.ui.table tr.active {
  background: #fa26d9 !important;
}

/* .melody-main-form */
.melody-main-form .field > label {
  padding-left: 0;
}

/* Melody Submit Button */
.melody-main-form > .field:last-child {
  text-align: center;
}

#main-submit {
  margin-bottom: 1em;
  display: inline-block;
  width: 100px;
}



.ui.table {
  width: 100%;
  margin-bottom: 4px;
}
/* .ui.dropdown .menu {
    max-height: ?;
*/
/* You might also want to add `!important` to automatically override all media-queries. */
/*
} 
*/

.table-title {
  max-width: 110px;
}

.table-cell {
  max-width: 30px;
}